<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2016 Pulchritudinous
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
/**
 * Module configuration file.
 *
 * @package Pulchritudinous_Email
 * @module  Pulchritudinous
 * @author  Anton Samuelsson <samuelsson.anton@gmail.com>
 */
-->
<config>
    <tabs>
        <pulchritudinous translate="label" module="pulchemail">
            <label>Pulchritudinous</label>
            <sort_order>150</sort_order>
        </pulchritudinous>
    </tabs>
    <sections>
        <pulchemail translate="label" module="pulchemail">
            <label>Email</label>
            <tab>pulchritudinous</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <transporter translate="label comment">
                            <label>Transporter Service</label>
                            <sort_order>20</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>pulchemail/source_transporter</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Select which email service you want to use as transporter for all emails</comment>
                        </transporter>
                    </fields>
                </general>
                <development translate="label">
                    <label>Development Tools</label>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <email_turned_off translate="label">
                            <label>Turn of all emailing</label>
                            <sort_order>10</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Stops all emails from beeing sent. No email will be sent what so ever. NONE! NADA!!]]></comment>
                        </email_turned_off>
                        <hog_all_emails translate="label">
                            <label>Hog all emails</label>
                            <sort_order>20</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Set to yes if you want all emails to be sent to a specific email address. <br><small style="color:#818181;">The "to" field for every mail sent from Magento will be changed to that address</small>]]></comment>
                        </hog_all_emails>
                        <to_name translate="label comment">
                            <label>"To" recipient name</label>
                            <sort_order>30</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-emailSender</validate>
                            <depends><hog_all_emails>1</hog_all_emails></depends>
                            <comment><![CDATA[Email recipient name send to send all emails to.]]></comment>
                        </to_name>
                        <to_email translate="label comment">
                            <label>"To" Email address</label>
                            <sort_order>40</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-email</validate>
                            <depends><hog_all_emails>1</hog_all_emails></depends>
                            <comment><![CDATA[Email address used to send all emails to.]]></comment>
                        </to_email>
                        <order_email_preview_increment translate="label comment">
                            <label>Order Email Preview</label>
                            <sort_order>50</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_email_preview_increment>
                        <order_email_preview_increment_template translate="label comment">
                            <sort_order>51</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>pulchemail/source_templates</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select which email template to preview.]]></comment>
                        </order_email_preview_increment_template>
                        <order_email_preview translate="label comment">
                            <button_label>Preview</button_label>
                            <sort_order>52</sort_order>
                            <frontend_model>pulchemail/adminhtml_system_config_preview</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Preview order email by specifying a increment ID.]]></comment>
                        </order_email_preview>
                    </fields>
                </development>
                <transporter_sparkpost>
                    <label>Sparkpost</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[<a href="https://sparkpost.com/" target="_blank">https://sparkpost.com/</a>]]></comment>
                    <fields>
                        <key>
                            <label>API Key</label>
                            <sort_order>10</sort_order>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                    </fields>
                </transporter_sparkpost>
                <transporter_postmark>
                    <label>Postmark</label>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[<a href="https://postmarkapp.com/" target="_blank">https://postmarkapp.com/</a>]]></comment>
                    <fields>
                        <key>
                            <label>API Key</label>
                            <sort_order>10</sort_order>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                    </fields>
                </transporter_postmark>
                <transporter_mandrill>
                    <label>Mandrill</label>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment><![CDATA[<a href="https://www.mandrill.com/" target="_blank">https://www.mandrill.com/</a>]]></comment>
                    <fields>
                        <key>
                            <label>API Key</label>
                            <sort_order>10</sort_order>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                    </fields>
                </transporter_mandrill>
            </groups>
        </pulchemail>
    </sections>
</config>

